table
    tr
        td Сообщений с цифрами
        td= stringsWithNumbers
    tr
        td И без цифр
        td= nonumberStrings
    tr
        td всего сообщений
        td= stringsWithNumbers + nonumberStrings